* {
     padding: 0;
     margin: 0;
}

body {
     background-color: rgb(7, 7, 12);
}

#cabeçalho {
     padding-top: 50px;
     display: flex;
     width: 100%;
     position: fixed;
     justify-content: space-around;
     color: #ffffff;
} 